.footer{
    width: 100%;
  /*  position: fixed;     /*( sticky aussi)tres importante taatlaa maa lcurseur*/   
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.footer{
  /*  position: fixed;/*pour que le footer reste en bas car si je le met dans une autre page vide il se mettera en haut je lui met fixed pour qu'il reste à sa place*/
   
    bottom: 0; /*tout en bas*/
}
.container{
    width: 80%;
   /* margin: 0 auto; /* Center the DIV horizontally */
   
}

#about
{ 
    font-size: 20px;
    font-weight: bold;
}
#footimg
{
    margin-left: 800px;
    margin-top: -75px;
}
.fa-map-marker-alt
{  
    background-color: #fff;
}