#bod
{
    background-image: url("../images/5d0d3b163e_96510_verites-chocolat.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
 
  background-size:cover;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;/*on enléve les puces de la liste*/
    font-family: 'Times New Roman', Times, serif;
   }
   
   ul li {
    float: right;   /* aligne les elts à dte de son conteneur (les elts de la premiere liste )(la petite liste contient tjrs ses elets verticalement)*/
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8; /*tranparence du menu*/
    line-height: 40px;
    text-align: center;
    font-size: 20px;
   }
   
   ul li a {
    text-decoration: none; /*les elemt de la grabde et petite liste*/
    color: white;
    display: block;
   }
   
   ul li a:hover { /* passage de la souris sur le menu*/
    background-color: rgb(66, 44, 35);
   }
   
   ul li ul li{ /*accés à la petite liste (arborescenece du css)*/
    display: none;  /*mise en page:on va cacher la petite liste*/
   }
   
   ul li:hover ul li {
    display: block; /*la petite liste ne sera visible que lorsqu'on fait passer la souris sur le menu.si je l'enléve je ne pourrais plus accéder à la petite liste (ki nenzel ma tahbatch el liste)*/
   }
   
#sidebar{
 /* position:fixed; je l'ai enlever pour pouvoir défiler dans la page mais ca a enlever la liste du span*/
  width:200px;
  height:100%;
  background-color:#151719;
  left:-200px;
  transition:all 500ms linear;
}
#sidebar.active{
  left:0px;
}
#sidebar ul li{
  color:rgba(230,230,230,0.9);
  list-style:none;
  padding:15px 10px;
  border-bottom:1px solid rgba(100,100,100,0.3);
  height: max-content;
}



.list:hover
{
background-color:  rgb(66, 44, 35);
}


.container{
  position:absolute; /*je l'ai mis au hasard pour enlever le carré noir derriére les lignes home ou chwaya a propps*/
   padding-left: 250px;
   padding-top: 50px;
   margin-left: 50px;
   }
   
   